@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-left font-serif text-lg text-gray-700 sm:text-xl;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-cond my-3 font-bold text-gray-900;
		font-stretch: condensed;
	}

	h1 {
		@apply text-4xl sm:text-5xl;
		text-shadow: 1px 2px 0.5px rgba(0, 0, 0, 0.07);
	}
	h2 {
		@apply mt-12 text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}

	p {
		@apply mb-6 mt-2;
	}

	p a {
		@apply font-bold text-blue-500 hover:underline;
	}

	strong {
		@apply text-gray-900;
	}

	code {
		@apply rounded-sm bg-gray-200 p-1 font-mono text-base;
	}

	pre {
		@apply mb-8 mt-4 rounded-lg bg-gray-200 p-6 text-base;
	}

	pre > code {
		all: unset;
	}

	img {
		@apply rounded-lg;
	}

	blockquote {
		@apply mb-8 mt-4 border-l-4 border-gray-300 pl-4 text-2xl leading-relaxed;
	}

	table {
		@apply w-full;
	}

	hr {
		@apply my-4;
	}

	ul,
	ol {
		list-style: revert;
		margin: revert;
		padding: revert;
	}
}
