---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))];
	const sortedPosts = posts.toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

	return tags.map((tag) => {
		const filteredPosts = sortedPosts.filter((post) => post.data.tags?.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
	<main class="max-w-screen-md mx-auto">
		<h1 class="mb-16 mt-0">
			<span class="text-4xl font-sans font-light">Posts tagged with</span>
			{tag}
		</h1>
		<ul class="grid gap-8 md:gap-8">
			{posts.map((post) => <BlogPost post={post} />)}
		</ul>
	</main>
</BaseLayout>
