---
import DYSLogo from '../components/DYSLogo.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="grid place-content-center text-center h-full">
		<DYSLogo class="size-32 mx-auto mb-4 text-gray-6 rounded-lg" />
		<h1 class="text-6xl">404</h1>
		<p class="font-sans font-light text-2xl">
			Not Found:
			<span class="inline-block bg-gray-4 rounded-sm ml-1 py-0.5 px-2 font-mono">
				{Astro.url.pathname}
			</span>
		</p>
	</div>
</BaseLayout>
