---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Badge from '../components/Badge.astro';
import { SITE_TITLE } from '../consts';
import BlogPost from '../components/BlogPost.astro';

const posts = await getCollection('posts');
const sortedPosts = posts.toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
	<main class="max-w-screen-md p-4 mx-auto">
		<div class="flex flex-col md:flex-row gap-8 mt-4 mb-16 md:mt-8 items-center">
			<img
				src="/img/david-soards.jpg"
				alt="David Soards"
				class="self-start md:self-auto rounded-full size-20"
			/>
			<div>
				<h1 class="text-3xl mt-0">{SITE_TITLE}</h1>
				<p class="text-lg mb-0">
					A blog by me, David Soards, mostly about Front-End Development and UI Design.
				</p>
			</div>
		</div>
		<section>
			<ul class="grid gap-8 md:gap-8">
				{sortedPosts.map((post) => <BlogPost post={post} />)}
			</ul>
		</section>
	</main>
</BaseLayout>
