---
interface Props {
	textSize?: 'text-xs' | 'text-sm' | 'text-base';
}
const { textSize = 'text-sm' } = Astro.props;
---

<span
	class:list={[
		'font-sans inline-flex items-center rounded-sm bg-accent-3 px-2 py-1 font-base text-accent-10 ring-inset ring-accent-4 dark:ring-1 hover:bg-accent-4 dark:bg-accent-2 dark:hover:bg-accent-3',
		textSize,
	]}
>
	<slot />
</span>
