---
const today = new Date();
---

<footer class="pb-4 pt-16 text-sm w-full text-center font-sans font-light">
	<div class="flex justify-center gap-4 mb-2">
		<a href="https://github.com/davidysoards" target="_blank">
			<span class="sr-only">Go to my GitHub repo</span>
			<span aria-hidden="true" class="i-fa6-brands-github size-5 hover:text-gray-12"></span>
		</a>
		<a href="https://twitter.com/ninjasoards" target="_blank" class="group hover:text-gray-12">
			<span class="sr-only">Follow me on Twitter</span>
			<span
				aria-hidden="true"
				class="i-fa6-brands-x-twitter size-5 group-hover:hidden group-focus:hidden"></span>
			<span
				aria-hidden="true"
				class="i-fa6-brands-twitter size-5 hidden group-hover:block group-focus:block"></span>
		</a>
		<a href="https://www.linkedin.com/in/davidysoards/" target="_blank">
			<span class="sr-only">Follow me on Linked In</span>
			<span aria-hidden="true" class="i-fa6-brands-linkedin-in size-5 hover:text-gray-12"></span>
		</a>
	</div>
	<div>&copy; {today.getFullYear()} David Soards. All Rights Reserved.</div>
</footer>
