---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import DYSLogo from './DYSLogo.astro';

import IconGithub from '~icons/fa6-brands/github';
import IconXTwitter from '~icons/fa6-brands/x-twitter';
import IconTwitter from '~icons/fa6-brands/twitter';
import IconLinkedIn from '~icons/fa6-brands/linkedin-in';
---

<header class="m-0 px-4 md:px-6 py-2 text-gray-11">
	<nav class="flex items-center justify-between">
		<div class="flex gap-4 sm:gap-8 items-center">
			<a href="/">
				<DYSLogo class="size-14 shadow rounded text-accent-9" />
			</a>
			<HeaderLink href="/">blog</HeaderLink>
			<HeaderLink href="https://design.soards.me/">design</HeaderLink>
		</div>

		<div class="flex gap-4 sm:gap-8">
			<ThemeToggle />

			<a href="https://github.com/davidysoards" target="_blank">
				<span class="sr-only">Go to my GitHub repo</span>
				<IconGithub aria-hidden="true" class="size-7 hover:text-gray-12" />
			</a>
			<a href="https://twitter.com/ninjasoards" target="_blank" class="group hover:text-gray-12">
				<span class="sr-only">Follow me on Twitter</span>
				<IconXTwitter aria-hidden="true" class="size-7 group-hover:hidden group-focus:hidden" />
				<IconTwitter aria-hidden="true" class="size-7 hidden group-hover:block group-focus:block" />
			</a>
			<a href="https://www.linkedin.com/in/davidysoards/" target="_blank">
				<span class="sr-only">Follow me on Linked In</span>
				<IconLinkedIn aria-hidden="true" class="size-7 hover:text-gray-12" />
			</a>
		</div>
	</nav>
</header>
