---
// import IconSun from '~icons/lucide/sun';
import HeaderLink from './HeaderLink.astro';

import IconGithub from '~icons/fa-brands/github';
import IconTwitter from '~icons/fa-brands/twitter';
import IconLinkedIn from '~icons/fa-brands/linkedin-in';
---

<header class="m-0 px-4 py-2 bg-white shadow-sm text-gray-500">
	<nav class="flex items-center justify-between">
		<div class="flex gap-4 sm:gap-8 items-center">
			<a href="/">
				<img src="/DYS-logo-150.gif" alt="Astro logo" class="size-16 shadow" />
			</a>
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="https://design.soards.me/">Design</HeaderLink>
		</div>

		<div class="flex gap-4 sm:gap-8">
			<a href="https://github.com/davidysoards" target="_blank">
				<span class="sr-only">Go to my GitHub repo</span>
				<IconGithub aria-hidden="true" class="size-8" />
			</a>
			<a href="https://twitter.com/ninjasoards" target="_blank">
				<span class="sr-only">Follow me on Twitter</span>
				<IconTwitter aria-hidden="true" class="size-8" />
			</a>
			<a href="https://www.linkedin.com/in/davidysoards/" target="_blank">
				<span class="sr-only">Follow me on Linked In</span>
				<IconLinkedIn aria-hidden="true" class="size-8" />
			</a>
		</div>
	</nav>
</header>
