---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={[
		className,
		'inline-block font-bold text-xl hover:text-gray-12 animated-link',
		{ 'text-gray-12': isActive },
	]}
	{...props}
>
	<slot />
</a>
